@import url(https://fonts.googleapis.com/css?family=Poppins:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@charset "UTF-8";
@font-face {
  font-family: Noteworthy;
  font-display: swap;
  src: url("../fonts/Noteworthy-Bold.woff2") format("woff2"), url("../fonts/Noteworthy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-camera:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-in:before {
  content: "\e903";
}

._icon-inst:before {
  content: "\e904";
}

._icon-loc:before {
  content: "\e905";
}

._icon-twitter:before {
  content: "\e907";
}

._icon-arrow:before {
  content: "\e908";
}

._icon-user:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #575445;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-style: normal;
  font-weight: 400;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.page {
  padding-top: 80px;
}
@media (max-width: 61.99875em) {
  .page {
    padding-top: 70px;
  }
}
@media (max-width: 47.99875em) {
  .page {
    padding-top: 60px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.sea {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 600px;
}
@media (max-width: 61.99875em) {
  .sea {
    height: 450px;
    justify-content: center;
  }
}
@media (max-width: 47.99875em) {
  .sea {
    height: 350px;
  }
}
@media (max-width: 675px) {
  .sea {
    justify-content: start;
  }
}
.sea__info {
  flex: 0 1 auto;
  display: flex;
  justify-content: start;
  gap: 15px;
  flex-wrap: wrap;
  background: #292c32;
  border-radius: 16px;
  padding: 16px 22px;
  margin: 0px 15px;
  margin-bottom: 40px;
  margin-right: 40px;
}
@media (max-width: 61.99875em) {
  .sea__info {
    margin-right: 15px;
    margin-bottom: 30px;
  }
}
@media (max-width: 47.99875em) {
  .sea__info {
    margin-bottom: 15px;
  }
}
@media (max-width: 675px) {
  .sea__info {
    padding: 12px 15px;
    display: block;
  }
}
.sea__item {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
}
.sea__item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 675px) {
  .sea__item {
    flex: 0 0 48%;
  }
  .sea__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (min-width: 74.875em) {
  .sea__item {
    font-size: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .sea__item {
    font-size: clamp( 0.625rem , 0.5794419134rem  +  0.2277904328vw , 0.75rem );
  }
}
@media (max-width: 20em) {
  .sea__item {
    font-size: 0.625rem;
  }
}
.sea__item::before {
  font-size: 16px;
  padding-right: 8px;
}

.sea-bg {
  position: absolute;
  width: 115%;
  height: 118%;
  top: -10%;
  left: -7%;
  object-fit: cover;
  z-index: -1;
}

.gear {
  position: relative;
  padding: 220px 0px;
}
@media (max-width: 61.99875em) {
  .gear {
    padding: 160px 0px;
  }
}
@media (max-width: 47.99875em) {
  .gear {
    padding: 100px 0px;
  }
}
.gear__body {
  position: relative;
  z-index: 1;
  max-width: 495px;
}
.gear__subtitle {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 2px;
  color: #E6B939;
}
@media (min-width: 74.875em) {
  .gear__subtitle {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .gear__subtitle {
    font-size: clamp( 0.75rem , 0.7044419134rem  +  0.2277904328vw , 0.875rem );
  }
}
@media (max-width: 20em) {
  .gear__subtitle {
    font-size: 0.75rem;
  }
}
.gear__title {
  font-size: 48px;
  line-height: 58px;
  line-height: 1.2083333333;
  color: #FFFFFF;
}
@media (min-width: 74.875em) {
  .gear__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .gear__title {
    font-size: clamp( 2.125rem , 1.8060933941rem  +  1.5945330296vw , 3rem );
  }
}
@media (max-width: 20em) {
  .gear__title {
    font-size: 2.125rem;
  }
}
.gear__text {
  font-size: 17px;
  line-height: 148%;
  color: #CACCD1;
}
@media (min-width: 74.875em) {
  .gear__text {
    font-size: 1.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .gear__text {
    font-size: clamp( 0.875rem , 0.8066628702rem  +  0.3416856492vw , 1.0625rem );
  }
}
@media (max-width: 20em) {
  .gear__text {
    font-size: 0.875rem;
  }
}

.gear-bg {
  position: absolute;
  width: 115%;
  height: 110%;
  top: -10%;
  left: -7%;
  z-index: -1;
  object-fit: cover;
}

.shop {
  background: url("../img/bg-3.png") center/cover no-repeat;
  background-color: #375C58 !important;
  padding: 100px 0px;
}
@media (min-width: 74.875em) {
  .shop {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .shop {
    padding-top: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .shop {
    padding-top: 3.125rem;
  }
}
@media (min-width: 74.875em) {
  .shop {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .shop {
    padding-bottom: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .shop {
    padding-bottom: 3.125rem;
  }
}
.shop__container {
  text-align: center;
}
.shop__subtitle {
  color: #FAFAFC;
}
.shop__title {
  color: #E6B939;
}
.shop__text {
  max-width: 538px;
  margin: 0 auto;
  color: #FAFAFC;
}
.shop__button {
  margin-top: 20px;
  background-color: #FFFFFF !important;
  color: #575445 !important;
  font-size: 15px !important;
}
.shop__button:hover {
  transition: all 0.3s ease 0s;
  background: #E6B939 !important;
}
@media (max-width: 400px) {
  .shop__button {
    width: 100%;
    justify-content: center;
  }
}

.store {
  padding: 100px 0px;
  text-align: center;
}
@media (min-width: 74.875em) {
  .store {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .store {
    padding-top: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .store {
    padding-top: 3.125rem;
  }
}
@media (min-width: 74.875em) {
  .store {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .store {
    padding-bottom: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .store {
    padding-bottom: 3.125rem;
  }
}
.store__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 379px));
  gap: 15px;
}
@media (max-width: 47.99875em) {
  .store__items {
    grid-template-columns: repeat(2, minmax(auto, auto));
  }
}
@media (max-width: 29.99875em) {
  .store__items {
    grid-template-columns: repeat(1, minmax(auto, auto));
  }
}
.store__button {
  text-align: center;
}

.item-store {
  margin-top: 20px;
  text-align: center;
  display: block;
  position: relative;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.item-store:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.03);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.367);
}
.item-store__img {
  border-radius: 10px;
  max-width: 100%;
}
.item-store__content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 40px;
}
.item-store__title {
  font-family: "Roboto";
  font-size: 28px;
  line-height: 120%;
}
@media (min-width: 74.875em) {
  .item-store__title {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .item-store__title {
    font-size: clamp( 1.25rem , 1.0677676538rem  +  0.9111617312vw , 1.75rem );
  }
}
@media (max-width: 20em) {
  .item-store__title {
    font-size: 1.25rem;
  }
}
.item-store__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 140%;
}
@media (min-width: 74.875em) {
  .item-store__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .item-store__text {
    font-size: clamp( 0.875rem , 0.8294419134rem  +  0.2277904328vw , 1rem );
  }
}
@media (max-width: 20em) {
  .item-store__text {
    font-size: 0.875rem;
  }
}
.item-store__button {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 150%;
}
.item-store__button::before {
  padding-left: 5px;
  font-size: 9px;
}
.item-store__button:hover {
  color: #E6B939;
}
.item-store__button:hover::before {
  transition: all 0.3s ease 0s;
  transform: translate(8px, 0px);
}

.about {
  padding: 100px 0px;
  background: url("../img/bg-elemets/bg-element-3.png") center 0 no-repeat, url("../img/bg-elemets/bg-element-3.png") 0 bottom no-repeat;
}
@media (min-width: 74.875em) {
  .about {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .about {
    padding-top: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .about {
    padding-top: 3.125rem;
  }
}
@media (min-width: 74.875em) {
  .about {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .about {
    padding-bottom: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .about {
    padding-bottom: 3.125rem;
  }
}
.about__row {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 540px) {
  .about__row {
    flex-direction: column;
    gap: 30px;
  }
}
.about__img {
  flex: 0 1 50%;
  position: relative;
  padding-bottom: 49%;
}
@media (max-width: 540px) {
  .about__img {
    width: 100%;
  }
}
.about__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.about__body {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 540px) {
  .about__body {
    text-align: center;
  }
}
.about__title {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.1944444444;
}
@media (min-width: 74.875em) {
  .about__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .about__title {
    font-size: clamp( 1.75rem , 1.5677676538rem  +  0.9111617312vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .about__title {
    font-size: 1.75rem;
  }
}
.about__text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 120%;
}
@media (min-width: 74.875em) {
  .about__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .about__text {
    font-size: clamp( 0.875rem , 0.8294419134rem  +  0.2277904328vw , 1rem );
  }
}
@media (max-width: 20em) {
  .about__text {
    font-size: 0.875rem;
  }
}
.about__button {
  margin-top: 20px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 15px;
  line-height: 1.4;
}
.about__button::before {
  font-size: 10px;
  padding-left: 5px;
}
.about__button:hover {
  color: #E6B939;
}
.about__button:hover::before {
  transition: all 0.3s ease 0s;
  transform: translate(8px, 0px);
}
@media (max-width: 540px) {
  .about__button {
    justify-content: center;
  }
}

.guides {
  padding: 100px 0px;
}
@media (min-width: 74.875em) {
  .guides {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .guides {
    padding-top: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .guides {
    padding-top: 3.125rem;
  }
}
@media (min-width: 74.875em) {
  .guides {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .guides {
    padding-bottom: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .guides {
    padding-bottom: 3.125rem;
  }
}
.guides__text {
  max-width: 538px;
}
.guides__button {
  display: flex;
  justify-content: center;
}
@media (max-width: 620px) {
  .guides__button {
    margin-top: 40px;
  }
}

.body-guide {
  margin-top: 20px;
  display: flex;
}
@media (max-width: 620px) {
  .body-guide {
    flex-direction: column;
  }
  .body-guide .body-guide__item:first-child {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}
@media (max-width: 29.99875em) {
  .body-guide .body-guide__item:first-child {
    margin-bottom: 30px;
  }
}
.body-guide__item {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.body-guide__item:first-child {
  margin-right: 30px;
}
.body-guide__img {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.body-guide__img img {
  max-width: 100%;
  width: 100%;
  transition: transform 0.4s ease;
}
.body-guide__img:hover img {
  transform: scale(1.25);
}
.body-guide__text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 120%;
}
@media (min-width: 74.875em) {
  .body-guide__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .body-guide__text {
    font-size: clamp( 0.875rem , 0.7383257403rem  +  0.6833712984vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .body-guide__text {
    font-size: 0.875rem;
  }
}

.footer-guide {
  flex: 1 1 auto;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.footer-guide__user {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3846153846;
}
.footer-guide__date {
  font-size: 13px;
  color: #6f7278;
}

.user-guide {
  display: flex;
  align-items: center;
}
.user-guide__img {
  margin-right: 12px;
}
.user-guide__position {
  color: #E6B939;
}

.guide-name__body {
  font-family: "Roboto";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  z-index: 60;
}
.header .header__container {
  padding: 20px 15px;
}
@media (max-width: 61.99875em) {
  .header .header__container {
    padding: 15px;
  }
}
@media (max-width: 47.99875em) {
  .header .header__container {
    padding: 10px 15px;
  }
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 11;
  flex: 1 1 auto;
}
.header__logo img {
  max-width: 100%;
}
.header__buttons {
  position: relative;
  z-index: 9;
  display: flex;
}
@media (max-width: 47.99875em) {
  .header__buttons {
    margin-top: 28px;
    flex-direction: column;
    align-items: center;
    z-index: 11;
  }
}
.header__button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #575445;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
}
.header__button:hover {
  transition: all 0.3s ease 0s;
  background: #E6B939;
}
@media (max-width: 47.99875em) {
  .header__button {
    font-size: 20px;
  }
}
.header__button-cart {
  margin-left: 20px;
}
@media (max-width: 47.99875em) {
  .header__button-cart {
    margin-top: 20px;
    margin-left: 0;
  }
}
.header__button-cart::after {
  content: "0";
  font-size: 11px;
  line-height: 1.6363636364;
  color: #575445;
  background: #FFFFFF;
  padding: 0px 6px;
  border-radius: 9px;
}

.menu__body {
  display: flex;
}
@media (max-width: 61.99875em) {
  .menu__body {
    flex-direction: column;
  }
}
.menu__list {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  gap: 28px;
  margin-right: 40px;
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    margin-right: 0;
  }
}
.menu__link {
  font-size: 13px;
  line-height: 108%;
  color: #222222;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  transition: all 0.3s ease 0s;
  color: #E6B939;
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 20px;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    padding: 7.5rem 0.9375rem 3.125rem 0.9375rem;
    z-index: 10;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background: #ffffff;
    transition: left 0.2s ease 0s;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    margin-left: 30px;
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 35;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #575445;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  padding: 100px 0px;
  background-color: #575445;
}
@media (min-width: 74.875em) {
  .footer {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .footer {
    padding-top: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 3.125rem;
  }
}
@media (min-width: 74.875em) {
  .footer {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .footer {
    padding-bottom: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 3.125rem;
  }
}
.footer__logo {
  text-align: center;
}
.footer__body {
  margin-top: 75px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 780px) {
  .footer__body {
    flex-wrap: wrap;
  }
}
.footer__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  flex: 0 1 auto;
}
.footer__title {
  color: #E6B939;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer__item {
  margin-top: 10px;
}
.footer__link:hover {
  transition: all 0.3s ease 0s;
  color: #E6B939;
}
.footer__form {
  flex: 0 1 40%;
}
@media (max-width: 850px) {
  .footer__form {
    margin-top: 30px;
  }
}
.footer__text {
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}
.footer__input {
  padding: 15px 20px;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}
.footer__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.footer__form-button {
  position: absolute;
  right: 7px;
  top: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  background: #575445;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  transform: translate(0%, -50%);
}
.footer__form-button:hover {
  transition: all 0.3s ease 0s;
  background-color: #E6B939;
}

.form {
  margin-top: 10px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  position: relative;
}

.footer__under {
  margin-top: 30px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.footer__copy {
  font-size: 14px;
  line-height: 140%;
}
.footer__socials {
  display: flex;
}
.footer__social:not(:last-child) {
  margin-right: 20px;
}
.footer__social-link::before {
  font-size: 24px;
}
.footer__social-link:hover::before {
  transition: all 0.3s ease 0s;
  color: #E6B939;
}
@media (max-width: 375px) {
  .footer__social-link::before {
    font-size: 30px;
  }
}

.promise {
  padding-top: 100px;
  padding-bottom: 160px;
  background: url("../img/bg-elemets/bg-element-1.png") right 0 no-repeat, url("../img/bg-elemets/bg-element-2.png") 0 bottom no-repeat;
  background-color: #FAFAFC;
}
@media (min-width: 74.875em) {
  .promise {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .promise {
    padding-top: clamp( 3.125rem , 1.986047836rem  +  5.69476082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .promise {
    padding-top: 3.125rem;
  }
}
@media (min-width: 74.875em) {
  .promise {
    padding-bottom: 10rem;
  }
}
@media (min-width: 20em) and (max-width: 74.875em) {
  .promise {
    padding-bottom: clamp( 4.375rem , 2.3248861048rem  +  10.2505694761vw , 10rem );
  }
}
@media (max-width: 20em) {
  .promise {
    padding-bottom: 4.375rem;
  }
}
.promise__container {
  text-align: center;
}
.promise__items {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 110px;
}
@media (max-width: 61.99875em) {
  .promise__items {
    row-gap: 50px;
  }
}
@media (max-width: 650px) {
  .promise__items {
    margin-top: 40px;
    column-gap: 5px;
  }
}
@media (max-width: 400px) {
  .promise__items {
    flex-direction: column;
    row-gap: 30px;
  }
}
.promise__item {
  flex: 1 1 33%;
  transition: all 0.3s ease 0s;
}
.promise__item:hover .item-promise__img {
  transition: all 0.3s ease 0s;
  transform: scale(1.2);
}

.promise__info-body {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
}

.item-promise {
  padding: 0 15px;
  max-width: 330px;
  display: grid;
  gap: 10px;
}
@media (max-width: 650px) {
  .item-promise {
    max-width: 100%;
  }
}
.item-promise__img {
  justify-self: center;
  background: #575445;
  border-radius: 32px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-promise__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.item-promise__text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}
